@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

/*------------------------------------------------in use on multiple pages */
.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

h2, h3, h4, .modal-content, footer {
    font-family: "Satisfy", sans-serif;
}

/*------------------------------------------------nav and side bar */
nav, .sidenav {
    font-family: "Satisfy", sans-serif;
    font-size: 20px;
}

/*------------------------------------------------Flash messages */
.flashes h4 {
    line-height: 2;
    font-family: "Satisfy", sans-serif;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 8px;
    line-height: 42px;
}

/*------------------------------------------------home page - welcome & company info  */
.company-intro {
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.text-style {
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 20px;
    color: #ffffff;
}

label, .redirection-info {
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 15px;
}

.welcome-image {
    border-radius: 25%;
}

/*------------------------------------------------recipe images */
.recipe_img {
    height: 650px;
    width: auto;
}

/*------------------------------------------------profile images */
.profile_picture {
    height: 500px;
    width: 400px;
}

/*------------------------------------------------search */
#query {
    color: #ffffff;
}

/*------------------------------------------------add/edit recipe */
.select-wrapper input.select-dropdown { 
    color:white !important;
}

.hidden {
    display:none;
}

h6 {
    text-decoration: underline;
    font-family: "Baloo Tammudu 2", sans-serif;
}

.image-input {
    color: #ffffff;
    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 17px;
}

/*------------------------------------------------Footer links */
.footer-icon {
    font-size: 30px;
}

/*------------------------------------------------404 error page  */

h1 {
    font-family: "Satisfy", sans-serif;
    color: #ffffff;
}

.error-text {
    font-family: "Baloo Tammudu 2", sans-serif;
    color: #ffffff;
}


/*------------------------------------------------Media Queries */
@media only screen 
and (min-width: 320px) 
and (max-width: 600px)  {
    .recipe_img {
    height: 450px;
    width: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .recipe_img {
    height: 400px;
    width: auto;
    }
}