@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

nav, .sidenav {
    font-family: "Satisfy", sans-serif;
    font-size: 20px;
}

.flashes h4 {
    line-height: 2;
    font-family: "Satisfy", sans-serif;
}

h2, h3, h4, label, .modal-content, footer {
    font-family: "Satisfy", sans-serif;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 8px;
    line-height: 42px;
}