@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#logo-image {
    border-radius: 50%;
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

nav {
    font-family: "Satisfy", sans-serif;
    font-size: 20px;
}

.flashes h4 {
    line-height: 2;
}

h3, label, button {
    font-family: "Satisfy", sans-serif;
}