{% extends "base.html" %}
{% block content %}

    <section>
        <div class="col s12 m8 offset-m2 l6 offset-13">
            <div class="card-panel brown text-shadow z-depth-1 center-align">
                <h1>Oops! Something went wrong!</h1>
                <img class="responsive-img center-align" src="https://res.cloudinary.com/passion4film/image/upload/v1617982870/410-page-gone_usf3cw.png" 
                    alt="410 page is gone error image">
                <p class="error-text">Sorry, the page you were looking for has been deleted.
                </p>
                <a href="{{ url_for('home_page') }}" class="btn-large deep-purple darken-3 text-shadow">
                    Return to Home Page <i class="fas fa-home right"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}