{% extends "base.html" %}
{% block content %}

    <h3 class="deep-purple-text text-darken-3 center-align">{{ title }}</h3>

    <!-- Add a new Recipe form -->
    <div class="row card-panel brown darken-1 white-text">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" enctype="multipart/form-data">
            <!-- the recipe category selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-birthday-cake prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <select id="category_name" name="category_name" required>
                    <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}" id="option-colour">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- the name of the recipe -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5"
                        maxlength="50" type="text" class="validate white-text" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- the ingredients and measurements needed for the recipe -->
            <h6>Ingredients and Measurements</h6>
            
            <div class="row" id="first_ingredient">
                <div class="new_ingredient">
                    <div class="input-field col s12">
                        <i class="fas fa-balance-scale prefix deep-purple-text text-darken-3 text-shadow"></i>
                        <input id="ingredients_measurements" name="ingredients_measurements" 
                            minlength="5" maxlength="300" type="text" class="validate white-text" required>
                        <label for="ingredients_measurements">Ingredients</label>
                    </div>
                </div>
                <!-- add/remove ingredients buttons -->
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="addIngredient();">
                    Ingredient <i class="fas fa-plus-square right"></i>
                </button>
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="removeIngredient();">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>

            <!-- more ingredients -->
            <div id="moreIngredients"></div>
            <!-- more ingredients -->
            <br>
            <!-- preparation steps for the recipe -->
            <h6>Preparation Steps</h6>

            <div class="row" id="extraSteps">
                <div class="new_step">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-list prefix deep-purple-text text-darken-3 text-shadow"></i>
                        <input id="preparation_steps" name="preparation_steps" 
                            minlength="5" maxlength="400" type="text" class="validate white-text" required>
                        <label for="preparation_steps">Steps</label>
                    </div>
                </div>
                <!-- add/remove preparation steps buttons -->
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="addStep();">
                    Step <i class="fas fa-plus-square right"></i>
                </button>
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="removeStep();">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>

            <!-- more preparation steps -->
            <div id="moreSteps"></div>
            <!-- more preparation steps -->

            <!-- time recipe takes -->
            <br>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="time" name="time" minlength="5" maxlength="200" type="text" class="validate white-text" 
                        placeholder="eg. 30 mins at 180 degrees" required>
                    <label for="time">Bake Time & Temperature</label>
                </div>
            </div>
            <!-- vegan check-box -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-carrot tooltipped prefix deep-purple-text text-darken-3 text-shadow"></i>
                        <label for="is_vegan">
                            <input type="checkbox" id="is_vegan" name="is_vegan">
                            <span class="lever"></span>
                            Suitable for Vegans
                        </label>
                    </div>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-image prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <label for="recipe_img">
                        Image URL of the recipe
                    </label>
                    <input type="url" id="recipe_img" name="recipe_img" pattern="https://.*" 
                        size="30" placeholder="https://" class="white-text" required>
                    <p class="image-input">You can use an image from a royalty free stock, such as 
                    <a href="https://pixabay.com/" target="_blank">Pixabay.</a> 
                    If you want to upload your own image, we recommend using a free hosting site - such as 
                    <a href="https://imgbb.com/" target="_blank">IMBB.com</a>
                    </p>
                    <p class="image-input">
                        Please right click on the image and 'Copy Image Address' then paste here.
                    </p>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel changes button -->
                    <a href="{{ url_for('get_recipes') }}" class="btn-small deep-purple lighten-2 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- confirm add button -->
                    <button type="submit" class="btn-small deep-purple darken-3 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}