{% extends "base.html" %}
{% block content %}

    <h3 class="deep-purple-text text-darken-3 center-align">Add a Recipe to the Collection</h3>

    <div class="row card-panel brown darken-1 white-text">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5"
                        maxlength="50" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-balance-scale prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <textarea id="ingredients_measurements" name="ingredients_measurements" 
                        minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients_measurements">Ingredients and Measurements</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clipboard-list prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <textarea id="preparation_steps" name="preparation_steps" 
                        minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="preparation_steps">Preparation Steps</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <textarea id="time" name="time" 
                        minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="time">Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-carrot tooltipped prefix deep-purple-text text-darken-3 text-shadow"></i>
                        <label for="is_vegan">
                            <input type="checkbox" id="is_vegan" name="is_vegan">
                            <span class="lever"></span>
                            Suitable for Vegans
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}