{% extends "base.html" %}
{% block content %}
    
    <h3 class="deep-purple-text text-darken-3 center-align">{{ title }}</h3>

    <div class="row card-panel brown darken-1 white-text">
        
        <!-- the new ingredient & new preparation divs needs to be outside of the form for the JQuery clone -->
        <div id="first_ingredient">
            <div class="new_ingredient hidden">
                <div class="input-field col s12">
                    <i class="fas fa-balance-scale prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="ingredients_measurements" name="ingredients_measurements" 
                        minlength="5" maxlength="200" type="text" class="validate white-text" value="" required/>               
                    <label for="ingredients_measurements">Ingredient</label>
                </div>
            </div>
        </div>

        <div id="extraSteps">
            <div class="new_step hidden">
                <div class="input-field col s12">
                    <i class="fas fa-clipboard-list prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="preparation_steps" name="preparation_steps" 
                        minlength="5" maxlength="200" type="text" class="validate white-text" value="" required/>
                    <label for="preparation_steps">Steps</label>
                </div>
            </div>
        </div>

        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- the recipe category selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-birthday-cake prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <select id="category_name" name="category_name" required>
                    <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- the name of the recipe -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                       value="{{ recipe.recipe_name }}" type="text" class="validate white-text" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- the ingredients and measurements needed for the recipe -->
            <div class="row">
                
                <h6>Ingredients and Measurements</h6>
                <br>
                <div class="col s12">
                    {% for ingredient in recipe.ingredients_measurements %}
                        <div class="new_ingredient">
                            <div class="input-field col s12">
                                <i class="fas fa-balance-scale prefix deep-purple-text text-darken-3 text-shadow"></i>
                                <input id="ingredients_measurements{{loop.index}}" name="ingredients_measurements" 
                                    minlength="5" maxlength="200" type="text" class="validate white-text" value="{{- ingredient -}}" required/>
                                <label for="ingredients_measurements">Ingredient</label>
                            </div>
                        </div>
                    {% endfor %}
                        <!-- more ingredients -->
                        <div id="moreIngredients"></div>
                        <!-- more ingredients -->
                </div>
                <!-- add/remove ingredients buttons -->
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="editIngredient();">
                    <i class="fas fa-plus-square"></i>
                </button>
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="removeIngredient();">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <br>

            <!-- preparation steps for the recipe -->
            <div class="row">

                <h6>Preparation Steps</h6>
                <br>
                <div class="col s12">
                    {% for steps in recipe.preparation_steps %}
                        <div class="new_step">
                            <div class="input-field col s12">
                                <i class="fas fa-clipboard-list prefix deep-purple-text text-darken-3 text-shadow"></i>
                                <input id="preparation_steps{{loop.index}}" name="preparation_steps" 
                                    minlength="5" maxlength="200" type="text" class="validate white-text" value="{{- steps -}}" required/>
                                <label for="preparation_steps">Steps</label>
                            </div>
                        </div>
                    {% endfor %}
                        <!-- more preparation steps -->
                        <div id="moreSteps"></div>
                        <!-- more preparation steps -->
                </div>
                <!-- add/remove preparation steps buttons -->
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="editStep();">
                    <i class="fas fa-plus-square"></i>
                </button>
                <button type="button" class="btn-small deep-purple lighten-2 text-shadow" onclick="removeStep();">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <br>

            <!-- time recipe takes -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <textarea id="time" name="time" 
                        minlength="5" maxlength="200" class="materialize-textarea validate white-text" required>
                        {{- recipe.time -}}
                    </textarea>
                    <label for="time">Time</label>
                </div>
            </div>
            <!-- vegan check-box -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-carrot tooltipped prefix deep-purple-text text-darken-3 text-shadow"></i>
                        <label for="is_vegan">
                            {% if recipe.is_vegan == "on" %}
                                <input type="checkbox" id="is_vegan" name="is_vegan" checked>
                            {% else %}
                                <input type="checkbox" id="is_vegan" name="is_vegan">
                            {% endif %}
                            <span class="lever"></span>
                            Suitable for Vegans
                        </label>
                    </div>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-image prefix deep-purple-text text-darken-3 text-shadow"></i>
                    <label for="img_url">
                        Image URL of the recipe
                    </label>
                    <input type="url" id="img_url" name="img_url" pattern="https://.*" 
                        size="30" class="white-text" value="{{ recipe.recipe_img }}" required>
                    <p>You can use an image from a royalty free stock, such as 
                    <a href="https://pixabay.com/" target="_blank">Pixabay.</a> 
                    If you want to upload your own image, we recommend using a free hosting site - such as 
                    <a href="https://imgbb.com/" target="_blank">IMBB.com</a>
                </p>
                <p>
                    Please right click on the image and 'Copy Image Address' then paste here.
                </p>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel changes button -->
                    <a href="{{ url_for('get_recipes') }}" class="btn-small deep-purple lighten-2 text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- confirm edit button -->
                    <button type="submit" class="btn-small deep-purple darken-3 text-shadow">
                        Edit Recipe <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}