{% extends "base.html" %}
{% block content %}

<!-- logo image -->
    <div class="col s12 m8 offset-m2 l6 offset-13">
        <div class="card-panel purple darken-1 text-shadow z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <img class="responsive-img center-align" src="../static/images/logo-img.png" alt="Bitter Sweet Logo">
                    <h4 class="white-text center-align">Welcome to the BitterSweet Chocolate Recipe Sharing Site!</h4>
                </div>
            </div>
        </div>
    </div>
    
 <!-- company and site information -->
    <div class="col s12 m8 offset-m2 l6 offset-13">
        <div class="card-panel purple lighten-3 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <p class="company-intro text-shadow">
                        BitterSweet© is a new Chocolate Company which offers fairtrade, ethically sourced, sustainable chocolate.
                    </p>
                    <div>
                        <img class="responsive-img center-align" src="../static/images/fair-trade-logo.png" alt="Fairtrade Logo">
                    </div>
                    <p class="company-intro text-shadow">
                        Not only that...but it's delicious!
                    </p>
                        <hr>
                    <p class="text-style">
                        <strong>
                        This website is a place where anybody can create an account and share their wonderful, chocolate inspired, recipes. 
                        Anyone can view all recipes on the site, however only a registered user can add/edit/delete their own recipes to their hearts content. ❤️
                        <br>
                        <br>
                        And while perusing some of the most mouthwatering chocolate recipes on the web - please consider using BitterSweet©
                        chocolate in your baking - the results will be sweet!
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- images of bittersweet products offered -->
    <div class="col s12 m8 offset-m2 l6 offset-13">
        <div class="card-panel brown z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img src="../static/images/bittersweet-vegan.png" alt="Vegan Chocolate wrapper design" class="responsive-img">    
                </div>
                <div class="col s4">
                    <p class="text-style">
                        BitterSweet© are dedicated to making delicious Vegan chocolate bars, these are a great alternative to chocolate with dairy 
                        and can be used in recipes to make your creation a Vegan sensation!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l6">
        <div class="card-panel brown z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <p class="text-style">
                        BitterSweet© also have the traditional dairy chocolate bars in a variety of flavours - all our chocolate is made with love!
                    </p>
                </div>
                <div class="col s8">
                    <img src="../static/images/bittersweet-wrapper-idea2.png" alt="Chocolate wrapper design" class="responsive-img">    
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l6">
        <div class="card-panel brown z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8 right">
                    <img src="../static/images/chocolate-bars.jpg" alt="Chocolate bars in milk, dark and white" class="responsive-img">    
                </div>
                <div class="col s8">
                    <p class="text-style">
                        BitterSweet© comes in dark, milk and white chocolate varients. Try all of them in your chocolate recipes!
                    </p>
                </div>
            </div>
        </div>
    </div>
              
{% endblock %}