{% extends "base.html" %}
{% block content %}

<!-- logo image -->
    <section id="hero-image">
        <div class="row card-panel white-text deep-purple darken-2 text-shadow">
            <img class="responsive-img col s12 center-align" src="../static/images/logo-small.png">
            <h2 class="center-align">The Bitter Cocoa Bean Makes the Sweetest Chocolate</h2>
            <h4 class="center-align">Welcome to the BitterSweet Chocolate Recipe Sharing Site!</h4>
        </div>
    </section>
              
{% endblock %}