{% extends "base.html" %}
{% block content %}

    <div class="col s12 m8 offset-m2 l6 offset-13">
        <div class="card-panel brown darken-4 text-shadow z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <img class="responsive-img welcome-image" src="../static/images/welcome.png" alt="Welcome to chocolate heaven">
                    <h4 class="white-text center-align">{{ username }}'s Profile</h4>
                </div>
            </div>
        </div>
    </div>            

{% endblock %}