{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.ingredients_measurements }}<br>
        {{ recipe.preparation_steps }}<br>
        {{ recipe.time}}<br>
        {{ recipe.is_vegan }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fas fa-book"></i>Recipe Name</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fas fa-birthday-cake"></i>Category Name</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fas fa-balance-scale"></i>Ingredients and Measurements</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fas fa-clipboard-list"></i>Preparation Steps</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fas fa-stopwatch"></i>Time</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text  deep-purple darken-2 text-shadow"><i class="fa-balance-scale"></i>Ingredients and Measurements</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
