{% extends "base.html" %}
{% block content %}

    <h3 class="center-align brown-text">{{ title }}</h3>

    <!-- Register form -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix brown-text"></i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                        <span class="helper-text">5 - 15 characters. Alphanumeric only</span>
                    </div>
                </div>
                <!-- password --> 
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix brown-text"></i>
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                            <span class="helper-text">5 - 15 characters. Alphanumeric only</span>
                        </div>
                    </div>
                <!-- profile image url -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix brown-text text-shadow"></i>
                        <label for="profile_img">
                            Profile picture url.
                        </label>
                        <input type="url" id="profile_img" name="profile_img" pattern="https://.*" 
                            size="30" required>
                        <p class="image-input black-text">
                            You can right-click on your profile picture on social media and 'Copy Image Address' - then paste it here.  
                            If you want to upload an image from your computer and we recommend using a free hosting site - such as 
                            <a href="https://imgbb.com/" target="_blank">IMBB.com.</a> When the image is uploaded, right click on it & 'Copy Image Address'
                            and then paste here.
                        </p>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large brown text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- if already registered - redirect to login page -->
    <div class="row">
        <div class="col s12">
            <p class="center-align redirection-info">
                Already have an account? <a href="{{ url_for('login') }}" class="brown-text"><strong>Log In</strong></a>
            </p>
        </div>
    </div>

{% endblock %}